{{#each this}}
<div class="photo-card">
    <a href="{{largeImageURL}}"></a>
    <img src="{{webFormatURL}}" alt="{{tags}}" loading="lazy" />
    <div class="info">
        <p class="info-item">
            <b>Likes:</b></br>{{Likes}}<br>
        </p>
        <p class="info-item">
            <b>Views:</b></br>{{views}}<br></b>
        </p>
        <p class="info-item">
            <b>Comments:</b></br>{{comments}}<br></b>
        </p>
        <p class="info-item">
            <b>Downloads:</b></br>{{downloads}}<br></b>
        </p>
    </div>
</div>
{{/each}}